* {
  margin: 0;
  padding: 0;
  image: resets;

  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: unset;
}
ul li {
  list-style: none;
}

.menu-icon {
  opacity: 0.5;
  transition: all ease 0.3s;
}

.menu-icon:hover {
  opacity: 1;
  transform: scale(1.1);
}

.slide-left {
  animation: slide-left 0.5s;
}
